@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primary-qss: #636D91;
  --color-secondary-qss: #418fb7;
  --color-accent-qss: #C80036;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
}